<mat-toolbar color="primary" [ngStyle]="{'text-align': 'center'}">
  <div fxFlex fxLayout fxLayoutAlign="center">
    <p>Made by AWM
      <span fxHide.xs="true"> with Angular Material and FlexLayout</span>
    </p>
  </div>
</mat-toolbar>