<mat-nav-list>
  <a mat-list-item [ngx-scroll-to]="'#aboutme'" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">About me</span>
  </a>
  <a mat-list-item [ngx-scroll-to]="'#experience'" (click)="onClose()">
    <mat-icon>work</mat-icon>
    <span class="nav-caption">Experience</span>
  </a>
  <a mat-list-item [ngx-scroll-to]="'#education'" (click)="onClose()">
    <mat-icon>school</mat-icon>
    <span class="nav-caption">Education</span>
  </a>
  <mat-list-item>
    <button mat-icon-button [ngx-scroll-to]="'#formation'" (click)="onClose()">
      <mat-icon>school</mat-icon>
      <span class="nav-caption">Formation</span>
    </button>
  </mat-list-item>
</mat-nav-list>
