<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxLayout fxLayoutGap="50px" fxLayoutAlign="center ">
    <div fxFlex="100%">
      <a routerLink="/">AWM</a>
    </div>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="20px" class="navigation-items">
      <li>
        <a [ngx-scroll-to]="'#aboutme'">About me</a>
      </li>
      <li>
        <a [ngx-scroll-to]="'#experience'">Experience</a>
      </li>
      <li>
        <a [ngx-scroll-to]="'#education'">Education</a>
      </li>
      <li>
        <a [ngx-scroll-to]="'#formation'">Formation</a>
      </li>
    </ul>
  </div>
</mat-toolbar>