<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
  <mat-card fxFlex="100%" class="header-background">
    <mat-card-title fxLayoutAlign="center">

    </mat-card-title>
    <mat-card-content>
      <div fxLayout="column" [ngStyle]="{'margin-top': '150px', 'text-align': 'center'}" fxLayoutGap="10px">
        <div fxFlex="50%" fxLayoutAlign="center">
          <h1>Hi.It's Anthony Willis Muñoz.</h1>
        </div>
        <div fxFlex="50%" fxLayoutAlign="center" [ngStyle]="{'text-align': 'center'}">
          <h2>I'm a software engineer, frontend lover and serverless advocate with a passion for videogames.</h2>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>
<div fxLayout="row" fxLayout.xs="column">
  <div fxFlex="100%">
    <mat-card class="middle-background" id="aboutme">
      <mat-card-title>
        <h1>About Me !</h1>
      </mat-card-title>
      <mat-card-content>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" class="container" fxLayoutGap="10px">
          <div fxFlex="50%" >
            <h2>Current Projects</h2>
            <mat-list >
              <mat-list-item class="list">
                <div>
                  <p>
                    <mat-icon mat-list-icon>check</mat-icon>
                    Currently working as an analyst programmer for aubay, in a project for a client of the insurance sector(French).Performing
                    all stages of development and frontend analysis.</p>
                </div>
              </mat-list-item>
              <mat-list-item>
                <div>
                    <p><mat-icon mat-list-icon>check</mat-icon>
                  Taking a Udemy course -
                    <a mat-button href="https://www.udemy.com/aws-serverless-a-complete-introduction/">AWS Serverless APIs and Apps</a>.</p>
                </div>
              </mat-list-item>
              <mat-list-item>
                <div>
                  <p>
                    <mat-icon mat-list-icon>check</mat-icon>
                    Developing a teacher evaluation application as an end-of-career project.</p>
                </div>
              </mat-list-item>
            </mat-list>

            <h2>Resume</h2>
            <mat-list>
              <mat-list-item>

                <a mat-button href="../../assets/CV-ANTHONYWILLIS.pdf">
                  <mat-icon mat-list-icon>get_app</mat-icon>
                  Download: CV</a>

              </mat-list-item>
            </mat-list>
          </div>
          <div fxFlex="50%">


            <h2>Contact Me</h2>
            <mat-list>
              <mat-list-item>

                <a mat-button>
                  <mat-icon mat-list-icon>email</mat-icon>
                  Email: antho.wm@gmail.com</a>

              </mat-list-item>
              <mat-list-item>

                <a mat-button href="https://www.linkedin.com/in/anthony-willis-110a9298" color="white">
                  <mat-icon mat-list-icon>share</mat-icon>
                  LinkedIn: Anthony Willis Muñoz</a>

              </mat-list-item>
            </mat-list>
            <h2>Current Location</h2>
            <mat-list>
              <mat-list-item>

                <a mat-button href="https://goo.gl/maps/FsosyS2sJRr">
                  <mat-icon mat-list-icon>place</mat-icon>
                  Madrid - Spain</a>

              </mat-list-item>
            </mat-list>

          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
<div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
  <mat-card fxFlex="100%" id="experience">
    <mat-card-title>
      <h1>Professional experience</h1>
    </mat-card-title>

    <mat-card-content fxLayout fxLayout.xs="column">
      <div fxFlex="50%" fxLayoutAlign="center center" fxFlex.xs="100%" fxLayout.xs="column">
        <mat-card fxFlex="60%" fxFlex.xs="100%">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>FullStack Developer</mat-card-title>
            <mat-card-subtitle>Universidad Politecnica de Madrid</mat-card-subtitle>
            <mat-card-subtitle>01/09/2015–30/12/2017</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h4>Projects</h4>
            <mat-accordion class="example-headers-align">
              <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Library database administrator
                  </mat-panel-title>
                  <mat-panel-description>
                    ORACLE - PL/SQL
                    <mat-icon>local_library</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <p>Manage the database of the 21 libraries of the University.</p>

                <mat-action-row>
                  <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
              </mat-expansion-panel>

              <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Migration member
                  </mat-panel-title>
                  <mat-panel-description>
                    SYMPHONY - EXLIBRIS
                    <mat-icon>dns</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <p>Migration of the library system, from Symphony to a new system offered by Ex Libris (Alma &amp; Primo).
                </p>

                <mat-action-row>
                  <button mat-button color="warn" (click)="prevStep()">Previous</button>
                  <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
              </mat-expansion-panel>

              <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    COIE
                  </mat-panel-title>
                  <mat-panel-description>
                    JAVA - BACKBONE
                    <mat-icon>work</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <p>Optimization of the UPM employment platform (COIE), modify the API written in Java using the spring framework
                  and in the frontend backbone.</p>

                <mat-action-row>
                  <button mat-button color="warn" (click)="prevStep()">Previous</button>
                  <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
              </mat-expansion-panel>

              <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    HEXA
                  </mat-panel-title>
                  <mat-panel-description>
                    LARAVEL - ANGULAR 2
                    <mat-icon>done</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>
                  Development of the HEXA project which is a proofreader of large quantities, developed from 0, in the backend an API in Laravel
                  and frontend in Angular 2+ and for the fast correction of the exams we use the Cesvima which is the supercomputer
                  of the UPM.
                </p>
                <mat-action-row>
                  <button mat-button color="warn" (click)="prevStep()">Previous</button>
                  <button mat-button color="primary" (click)="nextStep()">End</button>
                </mat-action-row>
              </mat-expansion-panel>

            </mat-accordion>
          </mat-card-content>

        </mat-card>
      </div>
      <div fxFlex="50%" fxLayoutAlign="center" fxFlex.xs="100%" fxLayout.xs="column">
        <mat-card fxFlex="60%" fxFlex.xs="100%">
          <mat-card-header>
            <div mat-card-avatar class="header-image-2"></div>
            <mat-card-title>Frontend analyst</mat-card-title>
            <mat-card-subtitle>Aubay</mat-card-subtitle>
            <mat-card-subtitle>01/08/2018–Currently</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h4>Projects</h4>
            <mat-accordion class="example-headers-align">
              <mat-expansion-panel hideToggle="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Frontend analyst
                  </mat-panel-title>
                  <mat-panel-description>
                    SPRINGBOOT - ANGULAR 5
                    <mat-icon>business</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <p>Analysis, design and development of the frontend of an application for a customer in the French insurance
                  sector. The project is international with a French and Spanish team, the backend is being developed with
                  SpringBoot (Microservices and API REST) and the frontend with angular 5.</p>

              </mat-expansion-panel>

            </mat-accordion>
          </mat-card-content>

        </mat-card>
      </div>


    </mat-card-content>
  </mat-card>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
  <div fxFlex="100%">
    <mat-card class="middle-background" id="education">

      <mat-card-title>
        <h1>Education</h1>
      </mat-card-title>

      <mat-card-content>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
          <div fxFlex="100%" fxLayoutAlign="center" fxShow.xs="false" fxShow.sm="false" >
            <mat-vertical-stepper  #stepper class="middle-background" >
              <mat-step>
                <mat-list>
                  <h3>Degree of Software Engineering</h3>
                  <mat-list-item>
                    <mat-icon mat-list-icon>school</mat-icon>
                    <h4 mat-line>Universidad Politécnica de Madrid, Madrid (España)</h4>
                    <p mat-line> 01/09/2014–currently(final project) </p>
                  </mat-list-item>
                </mat-list>
              </mat-step>
              <mat-step>
                <mat-list>
                  <h3>Vocational training of Web Application Development(DAW)</h3>
                  <mat-list-item>
                    <mat-icon mat-list-icon>school</mat-icon>
                    <h4 mat-line>IES Gaspar Melchor de Jovellanos, Madrid (España)</h4>
                    <p mat-line> 01/09/2012–01/06/2014</p>
                  </mat-list-item>

                </mat-list>
              </mat-step>
              <mat-step>
                <mat-list>
                  <h3>Vocational training of System Administrator and Networking(ASIR)</h3>
                  <mat-list-item>
                    <mat-icon mat-list-icon>school</mat-icon>
                    <h4 mat-line>IES Gaspar Melchor de Jovellanos, Madrid (España)</h4>
                    <p mat-line>01/10/2011–01/06/2012</p>
                  </mat-list-item>

                </mat-list>
              </mat-step>
            </mat-vertical-stepper>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxShow.md="false" fxShow.lg="false" fxShow.xl="false">
            <div fxFlex="100%" >
              <mat-vertical-stepper #stepper class="middle-background" >
                <mat-step>
                  <mat-list>
                    <h3>Degree of Software Engineering</h3>
                    <mat-list-item>
                      <mat-icon mat-list-icon>school</mat-icon>
                      <h4 mat-line>Universidad Politécnica de Madrid, Madrid (España)</h4>
                      <p mat-line> 01/09/2014–currently(final project) </p>
                    </mat-list-item>
                  </mat-list>
                </mat-step>
                <mat-step>
                  <mat-list>
                    <h3>Vocational training of Web Application Development(DAW)</h3>
                    <mat-list-item>
                      <mat-icon mat-list-icon>school</mat-icon>
                      <h4 mat-line>IES Gaspar Melchor de Jovellanos, Madrid (España)</h4>
                      <p mat-line> 01/09/2012–01/06/2014</p>
                    </mat-list-item>
  
                  </mat-list>
                </mat-step>
                <mat-step>
                  <mat-list>
                    <h3>Vocational training of System Administrator and Networking(ASIR)</h3>
                    <mat-list-item>
                      <mat-icon mat-list-icon>school</mat-icon>
                      <h4 mat-line>IES Gaspar Melchor de Jovellanos, Madrid (España)</h4>
                      <p mat-line>01/10/2011–01/06/2012</p>
                    </mat-list-item>
  
                  </mat-list>
                </mat-step>
              </mat-vertical-stepper>
            </div>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
  <div fxFlex="100%">
    <mat-card id="formation">

      <mat-card-title>
        <h1>Formation</h1>
      </mat-card-title>

      <mat-card-content>
        <div fxLayout fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
          <div fxFlex="50%" fxLayoutAlign="center ">
            <mat-list>
              <h3 mat-subheader>Frameworks</h3>
              <mat-list-item>
                <img matListAvatar src="../../assets/angular.png" alt="Angular">
                <h3 matLine> Angular 5</h3>
              </mat-list-item>
              <mat-list-item>
                <img matListAvatar src="../../assets/laravel.png" alt="Laravel">
                <h3 matLine> Laravel </h3>
              </mat-list-item>
              <mat-list-item>
                <img matListAvatar src="../../assets/bootstrap.png" alt="Boostrap">
                <h3 matLine> Bootstrap 4 </h3>
              </mat-list-item>
              <mat-list-item>
                <img matListAvatar src="../../assets/node.png" alt="Node">
                <h3 matLine> Node.js </h3>
              </mat-list-item>
              <mat-list-item>
                <img matListAvatar src="../../assets/prime.jpg" alt="Primeng">
                <h3 matLine> Primeng </h3>
              </mat-list-item>
              <mat-list-item>
                <img matListAvatar src="../../assets/jasmine.png" alt="Jasmine">
                <h3 matLine> Jasmine and Karma </h3>
              </mat-list-item>
              <mat-divider></mat-divider>
              <h3 mat-subheader>Others</h3>
              <mat-list-item>
                <img matListAvatar src="../../assets/git.jpg" alt="Git">
                <h3 matLine> Git </h3>
              </mat-list-item>
              <mat-list-item>
                <img matListAvatar src="../../assets/docker.jpg" alt="Docker">
                <h3 matLine> Docker </h3>
              </mat-list-item>
              <mat-list-item>
                <img matListAvatar src="../../assets/scrum.png" alt="Scrum">
                <h3 matLine> Scrum </h3>
              </mat-list-item>
              <mat-divider fxShow.lt-sm="true" fxHide="true"></mat-divider>
            </mat-list>
          </div>
          <div fxFlex="50%" fxLayoutAlign="center">
            <mat-list>
              <h3 mat-subheader>Programming Languages</h3>
              <mat-list-item>
                <img matListAvatar src="../../assets/php.png" alt="Php">
                <h3 matLine> PHP </h3>
              </mat-list-item>
              <mat-list-item>
                <img matListAvatar src="../../assets/javascript.png" alt="Javascript">
                <h3 matLine> Javascript </h3>
              </mat-list-item>
              <mat-list-item>
                <img matListAvatar src="../../assets/ts.png" alt="Typescript">
                <h3 matLine> Typescript </h3>
              </mat-list-item>
              <mat-list-item>
                <img matListAvatar src="../../assets/java.png" alt="Java">
                <h3 matLine> Java </h3>
              </mat-list-item>
              <mat-list-item>
                <img matListAvatar src="../../assets/python.png" alt="Python">
                <h3 matLine> Python</h3>
              </mat-list-item>
              <mat-list-item>
                <img matListAvatar src="../../assets/plsql.jpg" alt="PL/SQL">
                <h3 matLine> PL/SQL </h3>
              </mat-list-item>
              <mat-divider></mat-divider>
              <h3 mat-subheader>Databases</h3>
              <mat-list-item>
                <img matListAvatar src="../../assets/mysql.png" alt="Mysql">
                <h3 matLine> MYSQL </h3>
              </mat-list-item>
              <mat-list-item>
                <img matListAvatar src="../../assets/oracle.png" alt="Oracle">
                <h3 matLine> ORACLE </h3>
              </mat-list-item>
              <mat-list-item>
                <img matListAvatar src="../../assets/mongodb.png" alt="MongoDB">
                <h3 matLine> NOSQL-MONGODB </h3>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>