.new-training {
  padding: 30px;
}

.middle-background{
  background: #3F51B5;
  color: white !important;
}

.header-background{
  background: url('../../assets/ordenador.png') !important;
  color: white !important;
  min-height: 500px;
}

.white-color{
  color: white !important;
}

.header-image{
  background-image: url('../../assets/anthony.jpg');
  background-size: cover;
  width: 50px !important;
}

.header-image-2{
  background-image: url('../../assets/aubay.png');
  background-size: cover;
}

.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: #FF4081;
  color: rgba(255,255,255,.87);
}

::ng-deep .mat-list .list{
  height: auto;
}